.cardc {
  display: flex;
  width: 220px;
  max-width: 250px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  margin: 10px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.cardc:hover {
  cursor: pointer;
  background-color: rgb(224, 224, 224);
}

.cardc-img {
  max-width: 80px;
  min-height: 80px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  padding: 5px 0 0 0;
}

.logo-company {
  width: 140px;
  height: 100px;
  object-fit: contain;
}
